<launch>
    <node name="controller" pkg="pid" type="controller" ns="/hoverboard/left_wheel" output="screen" >
        <param name="node_name" value="left_wheel_pid" />
        <param name="Kp" value="0.0" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.0" />
        <param name="upper_limit" value="1000.0" />
        <param name="lower_limit" value="-1000.0" />
        <param name="windup_limit" value="1000.0" />
        <remap from="/hoverboard/left_wheel/setpoint" to="/hoverboard/left_wheel/cmd" />
        <remap from="/hoverboard/left_wheel/state" to="/hoverboard/left_wheel/velocity" />
        <remap from="/hoverboard/left_wheel/control_effort" to="/hoverboard/left_wheel/pid" />
    </node>
    <node name="controller" pkg="pid" type="controller" ns="/hoverboard/right_wheel" output="screen" >
        <param name="node_name" value="right_wheel_pid" />
        <param name="Kp" value="0.0" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.0" />
        <param name="upper_limit" value="1000.0" />
        <param name="lower_limit" value="-1000.0" />
        <param name="windup_limit" value="1000.0" />
        <remap from="/hoverboard/right_wheel/setpoint" to="/hoverboard/right_wheel/cmd" />
        <remap from="/hoverboard/right_wheel/state" to="/hoverboard/right_wheel/velocity" />
        <remap from="/hoverboard/right_wheel/control_effort" to="/hoverboard/right_wheel/pid" />
    </node>
</launch>